* {
    margin: 0;
    padding: 0;
    font-family: 思源黑体, 微软黑体;
}

#phone {
    --base-value: 50px;
    --p-width: calc(21 * var(--base-value) + 2 * var(--p-border));
    --p-height: calc(9 * var(--base-value) + 2 * var(--p-border));
    --p-border: calc(0.33 * var(--base-value));
    --decoration: #333333;

    position: fixed;
    top: calc(50% - 0.5 * (var(--p-height) + 2 * var(--p-border)));
    left: calc(50% - 0.5 * (var(--p-width) + 2 * var(--p-border)));
    overflow: hidden;
    width: var(--p-width);
    height: var(--p-height);
    border: var(--p-border) solid var(--decoration);
    border-radius: calc(0.9 * var(--base-value));
    background: #000000;
}

@media screen and (max-width: 800px) {
    #phone {
        rotate: 90deg;
        transform: scale(60%);
    }
}

#phone::before {
    --cam-r: 20px;

    content: "";
    position: absolute;
    top: calc(50% - 0.5 * var(--cam-r));
    left: 20px;
    z-index: 999;
    width: var(--cam-r);
    height: var(--cam-r);
    border-radius: calc(0.5 * var(--cam-r));
    background: var(--decoration);
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://img1.imgtp.com/2023/01/24/pyd1CFBR.jpg);
    background-size: cover;
    filter: blur(7.5px);
}

#pop-mail {
    --pm-width: calc(0.6 * var(--p-width));
    --pm-height: calc(0.66 * var(--p-height));
    --tb-height: calc(0.12 * var(--pm-height));

    position: absolute;
    top: calc(50% - 0.5 * var(--pm-height));
    left: calc(50% - 0.5 * var(--pm-width));
    width: var(--pm-width);
    height: var(--pm-height);
    box-shadow: 0 10px 10px #00000080;
    background: #eeeeeecc;
    color: #313131;
}

#top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--tb-height);
    box-shadow: 0 10px 30px #00000060;
    text-align: right;
    line-height: var(--tb-height);
    font-size: 13px;
}

#turn-off {
    float: right;
    margin-left: 14px;
    width: var(--tb-height);
    height: var(--tb-height);
    box-shadow: 1px 4px 3px #00000060;
    background: #313131;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

#mail-info {
    --thumb-length: calc(2 * var(--tb-height));
    --thumb-margin: calc(0.15 * var(--thumb-length));

    position: relative;
    height: calc(2 * var(--thumb-margin) + var(--thumb-length));
}

#thumb {
    position: relative;
    float: left;
    overflow: hidden;
    margin: var(--thumb-margin);
    width: var(--thumb-length);
    height: var(--thumb-length);
    box-shadow: 0 0 20px #00000080;
    background: linear-gradient(to bottom, #3a3a3a, #7d7d7d 20%, #7d7d7d 80%, #3a3a3a);
    background-size: contain;
}

#thumb img {
    position: absolute;
    transform: scale(24%);
    top: -788px;
    left: -947px;
}

#title {
    line-height: var(--tb-height);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.66px;
}

#author {
    display: inline-block;
    margin: 10px 0 6px;
    padding: 0 9px;
    border-radius: 9px;
    background: #000000;
    line-height: 18px;
    font-size: 13px;
    color: #ffffff;
}

#author::before {
    content: "来自";
    margin-right: 6px;
    color: #aeaeae;
}

#date {
    line-height: 14px;
    font-size: 14px;
    color: #0d6f9c;
    font-weight: 500;
}

#body {
    --b-sb-width: 4px;

    overflow-y: overlay;
    padding: 6px 20px;
    height: 105px;
    font-size: 14.5px;
}

#body::-webkit-scrollbar {
    width: var(--b-sb-width);
}

#body::-webkit-scrollbar-thumb {
    border-radius: calc(0.5 * var(--b-sb-width));
    background: #00000022;
}

#award {
    --amount: 3;
    --obj-length: 75px;
    --award-length: calc(80px + var(--amount) * var(--obj-length));

    position: absolute;
    bottom: 11%;
    left: calc(50% - 0.5 * var(--award-length));
    width: var(--award-length);
    height: 11%;
    background: #00000022;
    border-radius: 5px;
}

#award::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 14px;
    width: 10px;
    height: 10px;
    border: 3px solid #ffffffcc;
    rotate: 45deg;
    text-align: center;
}

#award .object {
    position: relative;
    top: -22px;
    display: inline-block;
    width: var(--obj-length);
    height: var(--obj-length);
}

#award .object:nth-child(1) {
    margin-left: 40px;
}

#award .object img {
    width: 100%;
}

#award .object .amount {
    position: absolute;
    bottom: 6px;
    right: 8px;
    padding: 0 3px;
    background: rgba(0, 0, 0, .4);
    box-shadow: 1px 2px 3px #00000060;
    line-height: 18px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
}