:root {
    /* UI专用 */
    --ui-black: #333333;
    --ui-gray: #8e8d95;

    /* 属性专用 */
    --at-gray: #c6c8d6;
    --at-green: #30a846;
    --at-orange: #e58a3f;
    --at-red: #df5e3e;
    --at-blue: #545ac7;
    --at-pink: #d980d9;

    /* 流字幕专用 */
    --st-green: #6d8c2e;
    --st-red: #bf4a19;
}

* {
    margin: 0;
    padding: 0;
    font-family: 思源黑体;
    font-weight: bold;
    color: white;
    border-radius: 1px;
}

body {
    background-color: var(--ui-black);
}

.frame {
    background-color: var(--ui-black);
    padding: 20px;
}

.se-sign {
    margin: 0 0 20px 20px;
    height: 90px;
    white-space: nowrap;
    overflow: hidden;
}

.se-icon {
    float: left;
    width: 90px;
    height: 90px;
    background-color: var(--at-gray);
}

.se-info {
    float: left;
    text-indent: 10px;
    width: 322px;
    margin-right: 20px;
}

.se-title {
    line-height: 60px;
    font-size: 45px;
}

.se-subtitle {
    line-height: 30px;
    font-size: 22px;
}

.sek-i {
    background-color: var(--at-blue);
}

.sek-ii {
    background-color: var(--at-pink);
}

.info-list {
    background-color: black;
    padding: 16px;
    height: 384px;
}

.event {
    font-size: 32px;
    line-height: 44px;
    white-space: nowrap;
    overflow: hidden;
}

.time {
    background-color: var(--ui-black);
    float: left;
    font-weight: normal;
    margin: 10px 4px;
    padding: 0 3px;
}

.date {
    background-color: var(--ui-gray);
    float: left;
    padding: 0 24px;
    margin: 10px 8px;
}

.info {
    background-color: var(--ui-black);
    float: left;
    margin: 10px 10px;
    padding-right: 15px;
}

.attribute {
    float: left;
    width: 24px;
    color: transparent;
    margin: 2px 6px 2px 2px;
    line-height: 40px;
}

.normal {
    background-color: var(--at-gray);
}

.hurry-i {
    background-color: var(--at-green);
}

.hurry-ii {
    background-color: var(--at-orange);
}

.hurry-iii {
    background-color: var(--at-red);
}

.big-text {
    float: left;
    width: 130px;
}

.bug-text {
    color: transparent;
}

.goal {
    float: left;
}

.small-text {
    width: 260px;
    height: 50%;
    font-size: 16px;
    line-height: 22px;
}

.stream {
    float: right;
    margin: 16px 15px;
    line-height: 32px;
    background-color: var(--ui-black);
    width: calc(100% - 889px);
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.valid {
    color: var(--st-green);
}

.invalid {
    color: var(--st-red);
}