:root {
    --color-main-blue: #073042;
    --color-main-green: #3ddc84;
    --color-main-grey: #5f6368;
    --color-bilibili: #fc8bab;
    --color-netease: #c20c0c;
}

* {
    margin: 0;
    padding: 0;
    font-family: 思源黑体, 黑体;
}

.slogan {
    padding: 120px 160px 135px;
    color: white;
    background-color: var(--color-main-blue);
    background-image: url(https://i.328888.xyz/2022/12/27/U8LOp.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    white-space: nowrap;
}

.title {
    font-weight: 1000;
    font-size: 70px;
    line-height: 76px;
}

.subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 100px;
    margin-bottom: 50px;
}

.uni-button {
    height: 48px;
    border-radius: 24px;
    margin-right: 20px;
    padding: 0px 24px;
    line-height: 48px;
    font-size: 16px;
    background-color: var(--color-main-green);
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.uni-button:hover {
    filter: brightness(95%);
}

.uni-button:active {
    filter: brightness(90%);
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.topics {
    text-align: center;
}

.topic {
    width: 70%;
    margin: 0 auto;
}

.topic-title {
    height: 144px;
    line-height: 144px;
    text-align: center;
    font-size: 40px;
}

.topic-detail {
    height: 400px;
    overflow: hidden;
}

.topic-pic {
    width: 400px;
    height: 400px;
    background-color: pink;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.topic-text {
    width: 50%;
    height: 400px;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}