* {
    font-family: 思源黑体, 黑体;
    margin: 0;
    padding: 0;
}

.top-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    height: 58px;
    padding-right: 53.3333px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.logo {

    height: 30px;
    margin: 14px 53.3333px;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.intro {
    font-size: 16px;
    line-height: 58px;
    padding: 0px 24px;
    background-color: #fff;
    color: #5f6368;
    text-decoration: none;
}

.intro:hover {
    line-height: 50px;
    color: black;
    border-top: 4px solid black;
}

.intro:active {
    border-top: 4px solid #3ddc84;
    color: #3ddc84;
}

.uni-button-lite {
    height: 30px;
    border-radius: 17px;
    margin: 12px 0 12px 25px;
    padding: 0px 18px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: #5f6368;
    border: 2px solid #5f6368;
    text-align: center;
    text-decoration: none;
}

#bilibili:hover {
    background-color: #fc8bab;
    color: white;
    border: 2px solid #fc8bab;
}

#netease:hover {
    background-color: #c20c0c;
    color: white;
    border: 2px solid #c20c0c;
}

.uni-button-lite-title {
    padding: 14px 0;
    line-height: 30px;
    font-size: 14px;
    color: #dddddd;
}

.slogan {
    padding: 120px 160px 135px;
    color: white;
    background-color: #073042;
    background-image: url(https://i.328888.xyz/2022/12/27/U8LOp.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.title {
    font-weight: 1000;
    font-size: 70px;
    line-height: 76px;
}

.subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 100px;
    margin-bottom: 50px;
}

.uni-button {
    height: 48px;
    border-radius: 24px;
    margin-right: 20px;
    padding: 0px 24px;
    line-height: 48px;
    font-size: 16px;
    background-color: #3ddc84;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.uni-button:hover {
    filter: brightness(95%);
}

.uni-button:active {
    filter: brightness(90%);
}

.topics {
    text-align: center;
}

.topic {
    width: 70%;
    margin: 0 auto;
}

.topic-title {
    height: 144px;
    line-height: 144px;
    text-align: center;
    font-size: 40px;
}

.topic-detail {
    height: 400px;
}

.topic-pic {
    width: 400px;
    height: 400px;
    background-color: pink;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.topic-text {
    width: 500px;
    height: 400px;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}

.easter-egg {
    width: 100%;
    height: 60px;
    margin-top: 72px;
    line-height: 60px;
    text-align: center;
    color: grey;
    background-image: linear-gradient(to top, #dddddd, white);
}