* {
    margin: 0;
    padding: 0;
}

#h5c3-now {
    background-color: #fff;
    padding: 72px 0;
}

#h5c3-now * {
    text-align: center;
}

#real-title {
    font-size: 48px;
}

#obj-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}

.img {
    width: 240px;
    height: 140px;
    background-color: pink;
    margin: 60px auto 40px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.img:hover {
    filter: blur(1px);
}

.img:active {
    filter: none;
}

.title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 550;
}

.discribe {
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
}

.go {
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    color: #0066cc;
}