.sd-gold-encapsulation {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 30px;
    background-image: linear-gradient(to bottom right, #feeba7, #fff5ba, #feeba7, #fde198, #f2cc82);
    border-radius: 10px;
    border: 2px solid #cea36b;
    box-shadow: 16px 16px 15px rgba(0, 0, 0, .2);
    color: #ea1323;
}

.sd-gold-logo {
    float: left;
    width: 120px;
    height: 120px;
    background-image: url(https://i.328888.xyz/2023/01/31/8rwCE.png);
    background-size: contain;
}

.sd-gold-info {
    float: right;
    text-align: right;
}

.sd-gold-model {
    font-size: 64px;
    line-height: 72px;
}

.sd-gold-5g {
    font-size: 44px;
    line-height: 48px;
}

.sd-gold-manufacturer {
    position: absolute;
    bottom: 70px;
    font-size: 57px;
}

.sd-gold-brand {
    position: absolute;
    bottom: 30px;
    font-size: 40px;
}