.sd-encapsulation {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 30px;
    background-image: linear-gradient(to bottom right, #555555, #252525);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 5px rgba(255, 255, 255, .2) inset,
        -4px -4px 5px rgba(0, 0, 0, .8) inset,
        16px 16px 15px rgba(0, 0, 0, .2);
    color: white;
}

.sd-logo {
    float: left;
    width: 120px;
    height: 120px;
    background-image: url(https://img1.imgtp.com/2023/01/09/DspAbIdF.png);
    background-size: contain;
}

.sd-model {
    float: right;
    height: 120px;
    font-size: 70px;
    line-height: 120px;
}

.sd-manufacturer {
    position: absolute;
    bottom: 70px;
    font-size: 57px;
}

.sd-brand {
    position: absolute;
    bottom: 30px;
    font-size: 40px;
}