:root {
  --g-bg-c: #fff;
  --g-tp-low: #fffffff2;
  --g-tp-high: #ffffff1a;
  --g-tp-high-rev: #3333330d;
  --g-c-main: #333;
  --g-c-sub: #999;

  --theme-main: #21e6c1;
  --theme-main-tp: #21e6c13b;
  --theme-sub: #ecfffb;
}
